h1{
	color:white;
}

div{
	text-align : center ;
}

h2{
	color:white;
}

h3{
	color:white;
}

body{
	background-color:#8f6638;
}

#bouton{
	display: flex;
	justify-content: space-around;
	border:solid;
	border-width: 5px;
}